src/config/proxy.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

proxy = element proxy { 
    element enabled     { BOOLEAN }? &
    element ftp_proxy   { text }? &
    element http_proxy  { text }? &
    element https_proxy { text }? &
    element no_proxy    { text }? &
    element proxy_password { text }? &
    element proxy_user     { text }?
}
